/* google font cdn */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* tailwind cli */
@import "tailwindcss";

@layer{
    .font-inter{
        font-family: "Inter", sans-serif;
    }
}




/* responsive designs */

/* small device */
@media screen and (max-width: 576px) {
    /* shared styles */
    .title-text{
        font-size: 36px;
    }
    /* navbar */
    /* left text */
    .nav-tech-text{
        font-size: 25px;
    }

    /* nav items and button */
    .nav-items-nav-btn{
        display: none;
    }

    /* hamburger icon */
    .image-icon{
        display: flex;
    }

    /* hero section */

    .small-hero{
        height: 300px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        
    }
    .hero-image-content{
        margin-top: -250px;
        margin-bottom: 20px;
    }

    .hero-content{
        margin-top: 20px;
    }


    .circle-image{
        width: 40%;
    }

    .micro-image{
        width: 12%;
        
    }

    .small-new{
        top: 4%;
        right: 22%;
    }

    .hero-tech{
        font-size: 40px;
    }


    /* about section */
    .about-text-container{
        width: 95%;
    }


    .grid-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }

    /* choose section */
    .my-grid{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .my-grid > .col-span-4,
    .my-grid > .col-span-8,
    .my-grid > .row-span-6,
    .my-grid > .row-span-3{
        grid-column: auto;
        grid-row: auto;
  }

  /* meet section */
  .meet-flex-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .meet-image{
    width: 70%;
  }
  .meet-icons{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* footer section */
 .footer-image{
    width: 100%;
    height: 150px;
    object-fit: contain;
 }

}

/* medium device */
@media screen and (min-width: 576.1px) and (max-width: 992px) {
    /* navbar */
    .nav-tech-text{
        font-size: 30px;
    }
    .nav-btn{
        padding-top: 8px;
        padding-bottom: 8px;
    }
    /* hamburger icon */
    .image-icon{
        display: none;
    }


     /* hero section */

    .hero-tech{
        font-size: 50px;
    }

    /* about section */
    .about-text-container{
        width: 92%;
    }

    .grid-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* choose section */
    .my-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .my-grid > .col-span-4,
    .my-grid > .col-span-8,
    .my-grid > .row-span-6,
    .my-grid > .row-span-3{
        grid-column: auto;
        grid-row: auto;
  }

  /* meet section */
  .meet-flex-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .meet-image{
    width: 40%;
  }
  .meet-icons{
    display: flex;
    justify-content: center;
    align-items: center;
  }


}

/* large device */
@media screen and (min-width: 992.1px) {
    /* navbar */

    /* hamburger icon */
    .image-icon{
        display: none;
    }
}